<h1> Registered Students </h1>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<%= form_tag students_path, :method => 'get' do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
		<p class="search">
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>
	<br/>
</div>

<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<table class="table table-hover" width="100%"> 
		<thead>
			<tr>
				<th><%= sortable "first_name" %></th>
				<th><%= sortable "last_name" %></th>
				<th><%= sortable "email" %></th>
				<th><%= sortable "password" %></th>
				<th colspan="4"></th>
			</tr>
		</thead>

		<tbody>
			<% @students.each do |student| %>
				<tr>
					<td><%= student.first_name %></td>
					<td><%= student.last_name %></td>
					<td><%= student.email %></td>
					<td><%= student.password %></td>
					<td><%= link_to 'Show', student %></td>
					<td><%= link_to 'Edit', edit_student_path(student) %></td>
					<td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br>

<%= link_to "Register New Student", new_student_path, class: "btn btn-default" %>