<%= form_for @school do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
   <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
   <div class="field">
    <%= f.label :tips %><br>
    <%= f.text_field :tips %>
  </div>
   <div class="field">
    <%= f.label :tuition %><br>
    <%= f.text_field :tuition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>