<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @school.picture %>
</p>
<p>
  <strong>Location:</strong>
  <%= @school.location %>
</p>
<p>
  <strong>tips:</strong>
  <%= @school.tips %>
</p>
<p>
  <strong>tuition:</strong>
  <%= @school.tuition %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
<%= link_to 'Delete', @school, method: "delete" %>
